/* app css stylesheet */


/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
font-family: 'PT Sans',sans-serif;
font-size: 12px;
line-height: 1.42857143;
color: #626468;
background-color: #e2e4e7;
}

.journal-entry.collapsed {
  border-color: #c3c3c3;
}

.journal-entry, .journal-entry.collapsed {
margin-bottom: 17px;
background-color: #fafafa;
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.journal-entry.collapsed>header {
background-color: #fff;
background-image: none;
border-bottom: 1px solid #c3c3c3;
border-radius: 6px 6px 0 0;
}

.journal-entry.collapsed.list-item {
height: initial;
}



.panel-heading, .account .account-lines>header, .journal-entry.collapsed>header {
padding: 30px 17px;
background-image: none;
}


.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
*/
