<section class="table">
  <table>
    <thead>
      <tr>
        <th class="acc">Account</th>
        <th class="description">Description</th>
        <th class="debit">Debit</th>
        <th class="credit">Credit</th>
        <th class="reference">REF</th>
      </tr>
    </thead>
  </table>
  <div>
    <table class="table table-striped">
      <colgroup>
        <col span="1" class="acc">
        <col span="1" class="description">
        <col span="1" class="debit">
        <col span="1" class="credit">
        <col span="1" class="reference">
      </colgroup>
      <tbody ng-controller="LinesCtrl as linesCtrl" ng-init="init(journalEntry.id)">
        <tr class="ember-view" ng-repeat="line in lines">
          <td class="acc" ng-controller="AccountCtrl as actCtrl" ng-init="init(line.account)">
            <a class="ember-view" href="#/account/{{account.id}}/lines">
              {{account.description || line.account}}
            </a>
          </td>
          <td class="description">
            {{line.description}}
          </td>
          <td class="debit">
            {{linesCtrl.debit(line.value)}}
          </td>
          <td class="credit">
            {{linesCtrl.credit(line.value)}}
          </td>
          <td class="reference">
            <a href="{{line.reference}}" target="_blank">
              <span class="glyphicon glyphicon-file"></span>
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th class="hidden-xs"></th>
          <th class="text-right">Total</th>
          <th class="debit">
            {{journalEntry.debitValue}}
          </th>
          <th class="credit">
            {{journalEntry.creditValue}}
          </th>
          <th>&nbsp;</th>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
