 <div class="journal-entries" ng-controller="JournalEntriesCtrl as jeCtrl" ng-init="init()">
    <div class="index">

      <aside>
        <div>
          <div>
            <div>Effective&nbsp;At</div>
            <div>Description</div>
            <div ng-controller="selectCtrl">
              <select class="form-control" ng-model="state" ng-options="type as type for type in states" ng-change="setState()">
              </select>
            </div>
          </div>
        </div>
      </aside>

      <section class="infinite-scroll">
        <div class="alert alert-warning no-results" ng-show="alert">
          No Results Found
        </div>
        <article class="journal-entry list-item" ng-repeat="journalEntry in journalEntries">
         <a href="#/journal_entries/{{journalEntry.id}}">
          <section class="body">
            <div class="row">
              <div class="col-xs-3 col-md-2">
                <span class="time-ago" data-original-title="" title="">
                  {{journalEntry.effective_at}}
                </span>
              </div>
              <div class="col-xs-6 col-md-9">
                {{journalEntry.description}}
              </div>
              <div class="col-xs-3 col-md-1 text-right">
                {{journalEntry.state}}
              </div>
            </div>
          </section>
        </a>
        </article>

      </section>

    </div>
  </div>
