 <div class= "journal-entries">
    <div class="index">

      <aside>
        <div>
          <div>
            <div>
              Effective&nbsp;At
            </div>
            <div>
              Description
            </div>
            <div>
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  POSTED
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <button class="btn btn-link" data-ember-action="181">
                      POSTED
                    </button>
                  </li>
                  <li>
                    <button class="btn btn-link" data-ember-action="182">
                      POSTING
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </aside>

      <section class="infinite-scroll">
        <article class="journal-entry list-item" ng-repeat="journalEntry in journalEntries">
        <!--   <p>JE: {{journalEntry.id}}</p>
          <p>JE: {{journalEntry.book}}</p>
          <p>JE: {{journalEntry.effective_at}}</p>
          <p>JE: {{journalEntry.description}}</p>
          <p>JE: {{journalEntry.reference}}</p>
          <p>JE: {{journalEntry.version}}</p>
         -->
         <a href="#/journal_entries/{{journalEntry.id}}">
          <section class="body">
            <div class="row">
              <div class="col-xs-3 col-md-2">
                <span class="time-ago" data-original-title="" title="">
                  {{journalEntry.effective_at}}
                </span>
              </div>
              <div class="col-xs-6 col-md-9">
                {{journalEntry.description}}
              </div>
              <div class="col-xs-3 col-md-1 text-right">
                {{journalEntry.state}}
              </div>
            </div>
          </section>
        </a>
        </article>

      </section>

    </div>
  </div>
