<article id="ember4484" class="ember-view journal-entry list-item collapsed">
  <header class="header" data-bindattr-544="544">
    <!-- placeholder -->
      <div class="row">
        <div class="col-xs-9 col-md-11">
          6 lemonade(s) sold
        </div>
        <div class="col-xs-3 col-md-1 text-right">
          POSTED
        </div>
      </div>
    <!-- placeholder -->
  </header>
  <section class="body" data-bindattr-545="545">
    <!-- placeholder -->
      <!-- placeholder -->
        Thursday, July 24 2014 4:23 PM
      <!-- placeholder -->
    <!-- placeholder -->
  </section>
  <section class="table" data-bindattr-546="546">
    <table>
      <thead>
        <tr>
          <th class="acc">Account</th>
          <th class="description">Description</th>
          <th class="debit">Debit</th>
          <th class="credit">Credit</th>
          <th class="reference">REF</th>
        </tr>
      </thead>
    </table>
    <div>
      <table>
        <colgroup>
          <col span="1" class="acc">
          <col span="1" class="description">
          <col span="1" class="debit">
          <col span="1" class="credit">
          <col span="1" class="reference">
        </colgroup>
        <tbody>
          <!-- placeholder start -->
            <!-- placeholder start -->
              <tr id="ember4593" class="ember-view">
                <td class="acc">
                  <a id="ember4594" class="ember-view" href="#/account/yKDzGKK9WMvcETVJY5SNkB/lines" title="1010 Assets Lemons">
                    1010 Assets Lemons
                  </a>
                </td>
                <td class="description">
                  6 lemonade(s) sold
                </td>
                <td class="debit">
                  <!-- placeholder -->
                  <!-- placeholder -->
                </td>
                <td class="credit">
                  6.00
                </td>
                <td class="reference">
                  <a href="https://s3-us-west-2.amazonaws.com/demo-references/receipt1054.pdf" data-bindattr-574="574" target="_blank">
                    <img src="assets/icon-reference.png">
                  </a>
                </td>
              </tr>
            <!-- placeholder end -->
            <!-- placeholder start -->
              <tr id="ember4596" class="ember-view">
                <td class="acc">
                  <a id="ember4597" class="ember-view" href="#/account/AsfIj6L0HADodIr1LdHmJu/lines" title="1020 Assets Sugar">
                    1020 Assets Sugar
                  </a>
                </td>
                <td class="description">
                  6 lemonade(s) sold
                </td>
                <td class="debit">
                  <!-- placeholder -->
                  <!-- placeholder -->
                </td>
                <td class="credit">
                  6.00
                </td>
                <td class="reference">
                  <a href="https://s3-us-west-2.amazonaws.com/demo-references/receipt1054.pdf" data-bindattr-575="575" target="_blank">
                    <img src="assets/icon-reference.png">
                  </a>
                </td>
              </tr>
            <!-- placeholder end -->
            <!-- placeholder start -->
              <tr id="ember4599" class="ember-view">
                <td class="acc">
                  <a id="ember4600" class="ember-view" href="#/account/wV2et12yxDQVOA30PYr4UO/lines" title="1030 Assets Cups">
                    1030 Assets Cups
                  </a>
                </td>
                <td class="description">
                  6 lemonade(s) sold
                </td>
                <td class="debit">
                  <!-- placeholder -->
                  <!-- placeholder -->
                </td>
                <td class="credit">
                  6.00
                </td>
                <td class="reference">
                  <a href="https://s3-us-west-2.amazonaws.com/demo-references/receipt1054.pdf" data-bindattr-576="576" target="_blank">
                    <img src="assets/icon-reference.png">
                  </a>
                </td>
              </tr>
            <!-- placeholder end -->
            <!-- placeholder start -->
              <tr id="ember4602" class="ember-view">
                <td class="acc">
                  <a id="ember4603" class="ember-view" href="#/account/hCwpmHBATv0xwimFactO9y/lines" title="3010 Equity Lemons">
                    3010 Equity Lemons
                  </a>
                </td>
                <td class="description">
                  6 lemonade(s) sold
                </td>
                <td class="debit">
                  6.00
                </td>
                <td class="credit">
                  <!-- placeholder -->
                  <!-- placeholder -->
                </td>
                <td class="reference">
                  <a href="https://s3-us-west-2.amazonaws.com/demo-references/receipt1054.pdf" data-bindattr-577="577" target="_blank">
                    <img src="assets/icon-reference.png">
                  </a>
                </td>
              </tr>
            <!-- placeholder end -->
            <!-- placeholder start -->
              <tr id="ember4605" class="ember-view"><td class="acc">
                <a id="ember4606" class="ember-view" href="#/account/E48LwClQl3wr3F9ONs5Sgc/lines" title="3020 Equity Sugar">
                  3020 Equity Sugar
                </a>
              </td>
              <td class="description">
                6 lemonade(s) sold
              </td>
              <td class="debit">
                6.00
              </td>
              <td class="credit">
                <!-- placeholder -->
                <!-- placeholder -->
              </td>
              <td class="reference">
                <a href="https://s3-us-west-2.amazonaws.com/demo-references/receipt1054.pdf" data-bindattr-578="578" target="_blank">
                  <img src="assets/icon-reference.png">
                </a>
              </td>
            </tr>
          <!-- placeholder end -->
          <!-- placeholder start -->
            <tr id="ember4608" class="ember-view">
              <td class="acc">
                <a id="ember4609" class="ember-view" href="#/account/AgrnITOvCeVErJCL0YSaKr/lines" title="3030 Equity Cups">
                  3030 Equity Cups
                </a>
              </td>
              <td class="description">
                6 lemonade(s) sold
              </td>
              <td class="debit">
                6.00
              </td>
              <td class="credit">
                <!-- placeholder -->
                <!-- placeholder -->
              </td>
              <td class="reference">
                <a href="https://s3-us-west-2.amazonaws.com/demo-references/receipt1054.pdf" data-bindattr-579="579" target="_blank">
                  <img src="assets/icon-reference.png">
                </a>
              </td>
            </tr>
          <!-- placeholder end -->
        <!-- placeholder end -->
        <!-- placeholder start -->
        <!-- placeholder end -->
        </tbody>
        <tfoot>
          <tr>
            <th class="hidden-xs"></th>
            <th class="text-right">Total</th>
            <th class="debit">
              18.00
            </th>
            <th class="credit">
              18.00
            <th>&nbsp;</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </section>
</article>
