<!-- <article class="journal-entry list-item" ng-repeat="journalEntry in app.journalEntries"> -->
<article class="journal-entry list-item" ng-repeat="journalEntry in journalEntries">
  <section class="body">
    <div class="row">
      <div class="col-xs-3 col-md-2">
        <span class="time-ago" data-original-title="" title="">
          {{journalEntry.effective_at}}
        </span>
      </div>
      <div class="col-xs-6 col-md-9">
        {{journalEntry.description}}
      </div>
      <div class="col-xs-3 col-md-1 text-right">
        {{journalEntry.state}}
      </div>
    </div>
  </section>
</article>
