<article class="journal-entry list-item">
  <header class="header hidden" data-bindattr-315="315">
    <script id="metamorph-1318-start" type="text/x-placeholder"></script>
    <div class="row">
      <div class="col-xs-9 col-md-11">
        <script id="metamorph-1319-start" type="text/x-placeholder"></script>
        3 lemonade(s) sold
        <script id="metamorph-1319-end" type="text/x-placeholder"></script>
      </div>
      <div class="col-xs-3 col-md-1 text-right">
        <script id="metamorph-1320-start" type="text/x-placeholder"></script>
        POSTED
        <script id="metamorph-1320-end" type="text/x-placeholder"></script>
      </div>
    </div>
    <script id="metamorph-1318-end" type="text/x-placeholder"></script>
  </header>
  <section class="body" data-bindattr-316="316">
    <script id="metamorph-1321-start" type="text/x-placeholder"></script>
    <script id="metamorph-1322-start" type="text/x-placeholder"></script>
    <div class="row">
      <div class="col-xs-3 col-md-2">
        <span class="time-ago" data-original-title="" title="">
          <script id="metamorph-1323-start" type="text/x-placeholder"></script>
          a day ago
          <script id="metamorph-1323-end" type="text/x-placeholder"></script>
        </span>
      </div>
      <div class="col-xs-6 col-md-9">
        <script id="metamorph-1324-start" type="text/x-placeholder"></script>
        3 lemonade(s) sold
        <script id="metamorph-1324-end" type="text/x-placeholder"></script>
      </div>
      <div class="col-xs-3 col-md-1 text-right">
        <script id="metamorph-1325-start" type="text/x-placeholder"></script>
        POSTED
        <script id="metamorph-1325-end" type="text/x-placeholder"></script>
      </div>
    </div>
    <script id="metamorph-1322-end" type="text/x-placeholder"></script>
    <script id="metamorph-1321-end" type="text/x-placeholder"></script>
  </section>
  <section class="table hidden" data-bindattr-317="317">
    <table>
      <thead>
        <tr>
          <th class="acc">Account</th>
          <th class="description">Description</th>
          <th class="debit">Debit</th>
          <th class="credit">Credit</th>
          <th class="reference">REF</th>
        </tr>
      </thead>
    </table>
    <div>
      <table>
        <colgroup>
          <col span="1" class="acc">
          <col span="1" class="description">
          <col span="1" class="debit">
          <col span="1" class="credit">
          <col span="1" class="reference">
        </colgroup>
        <tbody>
          <script id="metamorph-1326-start" type="text/x-placeholder"></script>
          <script id="metamorph-1326-end" type="text/x-placeholder"></script>

          <script id="metamorph-1327-start" type="text/x-placeholder"></script>
          <script id="metamorph-1327-end" type="text/x-placeholder"></script>

        </tbody>
        <tfoot>
          <tr>
            <th class="hidden-xs"></th>
            <th class="text-right">Total</th>
            <th class="debit">
              <script id="metamorph-1328-start" type="text/x-placeholder"></script>
              0.00
              <script id="metamorph-1328-end" type="text/x-placeholder"></script>
            </th>
            <th class="credit">
              <script id="metamorph-1329-start" type="text/x-placeholder"></script>
              0.00
              <script id="metamorph-1329-end" type="text/x-placeholder"></script>
            </th>
            <th>&nbsp;</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </section>
</article>
