<div class="main-content-nav">
  <ul>
    <li class="nav-item">
      <select class="form-control">
        <option value="5Wl1ONOulAcWydn9iThnbF">
          UNITS Lemonade Demo: 2014-07-24T01:56:35Z
        </option>
        <option value="7klMwkWbY7HWR8qqq24W5U">
          USD Lemonade Demo: 2014-07-24T01:56:35Z
        </option>
      </select>
    </li>

    <li class="nav-item">
      <span class="glyphicon sl-refresh"></span> Activity Stream
    </li>

    <li class="nav-item">
      <span class="glyphicon sl-entry"></span> Accounts
    </li>

    <li class="nav-item">
      <span class="glyphicon sl-entries"></span> Reports
    </li>

    <li class="nav-item">
      <span class="glyphicon glyphicon-edit"></span> Create Journal Entry
    </li>
  </ul>
</div>
