<div class="main-content-nav">
  <ul>
    <li class="nav-item">
      <div ng-controller="BooksCtrl as bksCtrl" ng-init="init()">
        <select class="form-control" ng-model="book" ng-options="book.description for book in books" ng-change="setBook()">
        </select>
      </div>
    </li>

    <li class="nav-item">
      <a href="#/journal-entries">
        <span class="glyphicon sl-refresh"></span> Activity Stream
      </a>
    </li>

    <li class="nav-item">
      <a href="#/accounts">
        <span class="glyphicon sl-entry"></span> Accounts
      </a>
    </li>
  </ul>
</div>
